.side_bar_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 19px;
    height: 100dvw;
    position: fixed;
    background: rgba(31, 29, 43, 1);
}

.button_block, .button_block_active {
    padding: 19px;
}

.image_block, .image_block_active {
    padding: 16px;
}

.image_block_active {
    background: rgba(234, 124, 105, 1);
    border-radius: 8px;
}

.button_block_active {
    background: rgba(37, 40, 54, 1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}